# .github/workflows/renovate.yml
name: Renovate

on:
  schedule:
    # Every Monday at 3am
    - cron: '0 3 * * 1'
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          configuration: --autodiscover
